:root {
    --green-color: #25A59E;
    --black-color: #262626;
    --grey-color: #737373;
    --mask-color: #231F20;
    --white-color: #FFFFFF;
    --neutral-color: #F2F2F2;
    --natural-color: #000000;
    --natural-color-light: #F6F7F9;
    --natural-color-dark: #737FA0;
    --blurry-color: #44D5CD;
    --orange-color: #EE8F39;  
}

